<section id="board">
  <div id="scores">
    <h2>
      Red: <span id="red-score">{{scores().red}}</span>
    </h2>
    <h2>
      Blue: <span id="blue-score">{{scores().blue}}</span>
    </h2>
  </div>

  <div class="launch-buttons">
    @for (col of board()[0]; track $index) {
      <div class="launch-button" role="button" (click)="play($index)">launch</div>
    }
  </div>

  @for (row of board(); track $index) {
    <div class="row">
      @for (cell of row; track $index) {
        <div class="cell" class="{{cell}}"></div>
      }
    </div>
  }
</section>