#board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 2.5em;
  height: 2.5em;
  border: 1px solid black;
}

.drop-button {
  width: 2.5em;
  height: 2.5em;
  border: 1px dashed black;
  text-align: center;
  background-color: lightgray;
}

.cell.red {
  background-color: red;
}

.cell.blue {
  background-color: blue;
}

#red-score {
  color: red;
}

#blue-score {
  color: blue;
}
