/* You can add global styles to this file, and also import other style files */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #252525;
    color: #f5f5f5;
  }

  a {
    color: #AAAAFF;
  }
}

* {
  font-family: 'Times New Roman', Times, serif;
}
